<app-toolbar title="Canciones" icon="menu"></app-toolbar>
<div class="content">
  <mat-grid-list cols="12" >
    <div class="songs-list">
      <mat-card *ngFor="let song of songs" class="song-card" (click)="goToDetail(song.id)">
        <mat-card-header>
          <mat-card-title>{{ song.title }} ({{ song.getArtistName() }})</mat-card-title>
        </mat-card-header>
        <div class="song-image">
          <img mat-card-image [src]="song.poster" alt="{{ song.title }}">
        </div>
        <mat-card-content>
          <div>
            <span *ngFor="let genre of song.genre"># {{ genre }}</span>
          </div>
        </mat-card-content>
      </mat-card>
      <div *ngIf="!songs?.length">
        <h4>No hay canciones.</h4>
      </div>
      <button mat-fab class="create-button" (click)="goToCreate()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-grid-list>
</div>

