.song-card {
  margin: 16px;
  padding: 16px;
  background-color: white;
  border-radius: 16px;

  .song-image {
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-card-title {
    margin-top: 26px;
  }

  mat-card-content {
    padding: 8px;
  }
}
